<h2><%= current_user.email %></h2>

<!-- <%= image_tag current_user.avatar.url(:medium) %>

<%= link_to 'Edit', edit_user_registration_path(current_user) %>

<% if current_user.albums.any? %>
  <ul>
    <% current_user.albums.each do |album| %>
      <li><%= link_to album.name, user_album_path(current_user, album) %></li>
    <% end %>
  </ul>
<% end %>


<h3>All my images</h3>

<% if current_user.images.any? %>
  <ul>
    <% current_user.images.each do |image| %>
    <li> <%= image_tag image.picture.url(:thumb) %></li>
    <% end %>
  </ul>
<% else %>
  No pictures yet
<% end %> -->
